@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
 }
 html, body, #app{
  overflow-x: hidden;
 }
 .cursive{
  font-family: 'Dancing Script', cursive;
 }
 [data-theme="light"] {
  --primary-color:#e8ecf3;
  --secondary-color:#dee6f4;
  --text-color:#161c23;
  --name-color: hsl(228, 10%, 10%);
  --name-color2: hsl(230, 5%, 23%);
  --wave-color:#161c2348;
  --box-shadow: rgba(27, 33, 39, 0.694);
  --image-filter: brightness(0);
}
 [data-theme="dark"] {
  --primary-color:#161c23;
  --secondary-color:#111417;
  --text-color:#ccd7e8;
  --name-color: hsl(230, 40%, 80%);
  --name-color2: hsl(230, 15%, 92%);
  --wave-color:#ccd7e849;
  --box-shadow: rgba(185, 195, 205, 0.326);
  --image-filter: brightness(0) invert(1);
}
[data-theme="cyan"] {
  --primary-color: #E0FFFF;
  --secondary-color:#cfffff;
  --text-color:#1b2424;
  --name-color: hsl(228, 10%, 10%);
  --name-color2: hsl(230, 5%, 23%);
  --wave-color:#1b24243d;
  --box-shadow: rgba(40, 48, 47, 0.628);
  --image-filter: brightness(0);
}
[data-theme="beige"]{
  --primary-color: #fff0db;
  --secondary-color:#fae5c7;
  --text-color:#101717;
  --name-color: hsl(228, 10%, 10%);
  --name-color2: hsl(230, 5%, 23%);
  --wave-color:#1017173e;
  --box-shadow: rgba(18, 21, 23, 0.669);
  --image-filter: brightness(0);
  
}
[data-theme="night-blue"]{
  --primary-color: #003366;
  --secondary-color:#002951;
  --text-color:#ccd7e8;
  --name-color: hsl(230, 40%, 80%);
  --name-color2: hsl(230, 15%, 92%);
  --wave-color:#ccd7e83e;
  --box-shadow: rgba(206, 215, 223, 0.326);
  --image-filter: brightness(0) invert(1);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px var(--primary-color);
  border: 0.4px solid var(--text-color);
  border-radius: 10px;
}
 #app {
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   /* font-family: sans-serif; */
 }
 .icons{
  font-size: 25px;
  color: var(--text-color);
  cursor: pointer;
}
.icons:hover{
color: var(--name-color2);
}
 .mr{
  margin-right: 20px;
 }
 .ml{
  margin-left: 20px;
 }
 .btn{
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  color: var(--text-color);
  cursor: pointer;
 }
 .btn:hover{
  background-color: var(--text-color);
  color: var(--primary-color);
 }

 @keyframes show {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}