#presentation{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
  

#short-description{
    color: var(--name-color);
    font-size: 30px;
    opacity: 0;
    animation: show 1.5s 750ms linear forwards;
    animation-delay: 3s;
}

.separator{
    height: 1px;
    background: var(--text-color);
    position: absolute;
    top: 50px;
    -webkit-animation: dude .75s 1 forwards;
    -moz-animation: dude .75s 1 forwards;
    -o-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
    animation-delay: 2s;
}
.vertical-separator{
  width: 1px;
  background: var(--text-color);
  position: absolute;
  left: 50%;
  -webkit-animation: dude2 .75s 1 forwards;
  -moz-animation: dude2 .75s 1 forwards;
  -o-animation: dude2 .75s 1 forwards;
  animation: dude2 .75s 1 forwards;
  animation-delay: 2.5s;
  z-index: 1;
}

#customize-experience{
  position: absolute;
  width: 50%;
  left: 50%;
  background-color: var(--secondary-color);
  height: calc(100vh - 51px);
  top: 51px;
  opacity: 0;
  -webkit-animation: show .75s 1 forwards;
  -moz-animation: show .75s 1 forwards;
  -o-animation: show .75s 1 forwards;
  animation: show .75s 1 forwards;
  animation-delay: 3s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px;
  color: var(--text-color);
}
#bio{
  margin-left: 5%;
}
#style-switcher{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  row-gap: 30px;
  margin-top: 20px;
}
.continue{
  position: absolute;
  bottom: 5%;
  right: 5%;
}
#sliding-bg{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  background-color: var(--secondary-color);
  z-index: 9999;
}

.sliding-animation{
  animation: slide 1s 1 forwards;
}

#mobile-scroller{
  display: none;
}
#user-direction{
  display: none;
}
@keyframes slide{
  to{
    left: 0;
  }
}

@-webkit-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes dude2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes dude2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes dude2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes dude2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}
.loader .loader__tile {
  position: absolute;
  right: 0;
  width: 0;
  height: 20%;
  background-color: var(--secondary-color);
  transition: width 0.7s ease;
}
.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}
.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}
.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}
.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}
.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}
.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loader__tile {
  width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}

#hacker-canvas{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

@media screen and (max-width:450px){
  #presentation{
    height: 200vh;
    justify-content: flex-start;
  }
  #bio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-left: 0;
    height: 50%; 
  }
  #short-description{
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  #customize-experience{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100vh;
    top: 100vh;
    padding: 20px;
  }
  #customize-experience>h2{
    text-align: center;
  }
  .vertical-separator{
    display: none;
  }
  #style-switcher{
    grid-template-columns: 100%;
    justify-items: center;
  }
  #mobile-scroller{
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0;
    animation: show 300ms ease forwards;
    animation-delay: 2s; */
  }
  .continue{
    margin-top: 30px;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .scroll {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    opacity: 0;
    animation: down 4s infinite, show 2s ease forwards;
    -webkit-animation: down 4s infinite, show 300ms 2.5s ease forwards;
    /* animation-delay: 1s; */
  }
  /* .scroll::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  } */
  
  @keyframes down {
    5% {
      bottom: 5%
    }
    10%{

      bottom: 7%;
    }
    15%{
      bottom: 5%;
    }
    20%{
      bottom: 7%;
    }
    25% {
      bottom: 5%;
    }
    100%{
      bottom: 5%;
    }
  }
  @-webkit-keyframes down {
    5% {
      bottom: 5%
    }
    10%{

      bottom: 7%;
    }
    15%{
      bottom: 5%;
    }
    20%{
      bottom: 7%;
    }
    25% {
      bottom: 5%;
    }
    100%{
      bottom: 5%;
    }
  }
}

