@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

#retro-container{
	position: relative;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Nova Round', cursive;
}
#pattern-container{
	position: absolute;
	height: 100%;
	width: 100%;
}
#bg-img{
	position: absolute;
    width: 15%;
    z-index: 80;
    top: 15%;
	transform: rotateZ(-45deg);
}
#bg-img2{
	position: absolute;
    width: 15%;
    z-index: 80;
    top: 100%;
	right: 1%;
	transform: rotateZ(45deg);
}
#bg-img3{
	position: absolute;
    width: 15%;
    z-index: 80;
    top: 200%;
	transform: rotateZ(-45deg);
}
#journal{
	width: 80%;
	border: 2px solid #161c23;
	border-radius: 3px;
	padding: 15px;
	position: relative;
    z-index: 999;
	animation: show 2s ease forwards;
}
#journal-border{
	border: 1.5px solid hsl(230, 5%, 23%);
	border-radius: 1px;
	position: relative;
    z-index: 99;
}
.right-border{
	border-right: 1.5px solid hsl(230, 5%, 23%);
}
.top-border{
	border-top: 1.5px solid hsl(230, 5%, 23%);
}
.bottom-border{
	border-bottom: 1.5px solid hsl(230, 5%, 23%);
}
.left-border{
	border-left: 1.5px solid hsl(230, 5%, 23%);
}
#top-bar{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;
}
.side-topbar{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#center-topbar{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1.5px solid hsl(230, 5%, 23%);
	border-right: 1.5px solid hsl(230, 5%, 23%);
	height: 100%;

}
.name{
	font-size: 40px;
	font-weight: 400;
}
.illustration{
	width: 50%;
	/* filter: var(--image-filter); */
}
.bio-man{
	width: 30%;
	position: absolute;
	right: 2%;
	bottom: 2%;
}
.profession-man{
	width: 120px;
}
.profession-name{
	margin-left: 20px;
}
.left-illustration{
	transform: rotateY(180deg);
}
#main-journal-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 350px;
  /* gap: 1rem; */
}

#box-one {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  border-top: 1.5px solid hsl(230, 5%, 23%);
  position: relative;
  padding: 20px;
  /* background-color: red; */
}

#box-two {
  grid-column: 3;
  grid-row: 1 / 2;
  border-top: 1.5px solid hsl(230, 5%, 23%);
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.box-top-element{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 145px;
}
.box-discover-more{
	border-top: 1.5px solid hsl(230, 5%, 23%);
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.box-discover-more:hover{
	background-color: var(--text-color);
	color: var(--primary-color);
}
.box-discover-more>p{
	padding: 5px;
}
.box-discover-icon{
	border-left: 1.5px solid hsl(230, 5%, 23%);
	height: 100%;
	width: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--primary-color);
	color: var(--text-color);
}
#box-three {
  grid-column: 3;
  grid-row: 2 / 3;
  border-top: 1.5px solid hsl(230, 5%, 23%);
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.box-title{
	font-size: 40px;
}
.box-text{
	color: hsl(230, 5%, 23%);
}
/* .incremental-padding::first-line{
	padding-right: 10px;
	line-height: 1.2;
	transition: padding-right 0.3s ease;
}
.incremental-padding::after{
	content: '';
	display: block;
	height: 1.2em;
	padding-right: 20px;
} */
.incremental-padding{
  border-bottom-right-radius: 900px;
  width: 80%;
  padding-right: 5px;
}
/* .incremental-padding::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 100%;

} */

.skill-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 500px;
}
.skill-grid-item {
    text-align:center;
    /* border: 1px solid rgba(17, 17, 17,0.8); */
    font-size: 28px;
	min-width: 0;
  min-height: 0;
}
.skill-hover{
	transition: all 300ms ease;
}
.skill-hover:hover{
	background-color: var(--text-color);
	color: var(--primary-color);
}
#main-skill{
  grid-area: 1 / 2 / span 2 / span 3;
  border-bottom: 1.5px solid hsl(230, 5%, 23%);
  border-left: 1.5px solid hsl(230, 5%, 23%);
  border-top: 1.5px solid hsl(230, 5%, 23%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
  min-height: 0;

}
#main-skill2{
  grid-area: 1 / 1 / span 2 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.medal{
	width: 20%;
	/* position: absolute;
	left: 5%; */
}
.skill-name{
	/* position: absolute;
	left: 25%; */
	text-align: start;
}
#contacts-section{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 350px;
  /* gap: 1rem; */
}
#contact-box1{
  grid-column: 2/ 4;
  grid-row: 3 / 1;
  border-top: 1.5px solid hsl(230, 5%, 23%);
  position: relative;
  padding: 20px;
}
#contact-box2{
	grid-column: 1;
  grid-row: 1 / 2;
  border-top: 1.5px solid hsl(230, 5%, 23%);
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#contact-box3{
  grid-column: 1;
  grid-row: 2 / 3;
  border-top: 1.5px solid hsl(230, 5%, 23%);
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.contacts-title{
	text-align: right;
	font-size: 40px;
}
.contact{
	text-align: right;
	margin-top: 20px;
	font-size: 25px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-decoration: none;
	color: inherit;
}
.contact-name{
	margin-right: 20px;
}
.contact-man{
	width: 30%;
	position: absolute;
	left: 2%;
	bottom: 2%;
}

@media screen and (max-width: 450px){
	#retro-container{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#journal {
		width: 90%;
		border: 2px solid #161c23;
		border-radius: 3px;
		padding: 15px;
		position: relative;
		z-index: 999;
		animation: show 2s ease forwards;
	}
	#top-bar {
		flex-direction: column;
		height: auto;
	}
	#center-topbar {
		width: 100%;
		border-top: 1.5px solid hsl(230, 5%, 23%);
		border-bottom: 1.5px solid hsl(230, 5%, 23%);
		border-left: none;
		border-right: none;
	}
	.side-topbar {
		width: 60%;
	}
	#main-journal-body {
		grid-template-columns: 1fr;
		height: auto;
	}
	#box-one{
		grid-column: 3 / 3;
		grid-row: 1 / 1;
	}
	#box-two {
		grid-row: 2 / 2;
	}
	#box-three {
		grid-row: 3 / 3;
	}
	#contacts-section{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: auto;
	}
	#contact-box1 {
		grid-column: 4 / 1;
    	grid-row: 1 / 2;
	}
	#contact-box2 {
		grid-row: 2 / 2;
	}
	#contact-box3 {
		grid-row: 3 / 3;
	}
	.skill-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		height: 500px;
	}
	#main-skill {
		grid-column: 1 / 3;
		padding-top: 20px;
		padding-bottom: 20px;
		grid-area: 1 / 1 / span 2 / span 3;
	}
}